@model Magic_Capstone.Models.Rootobject

@{
    ViewData["Title"] = "FindType";
}
    <link rel="stylesheet" href="~/css/TaskCardStyle.css">
<h1>Find By Type</h1>


<div class="cardflex">


    @foreach (var item in Model.cards)
    {
        if (item.imageUrl != null)
        {

    <form asp-action="Create" asp-controller="Cards">


        

        <div class="cardInfo">
            @Html.Hidden("name", item.name)
            @Html.Hidden("type", item.type)
            @Html.Hidden("text", item.text)
            @Html.Hidden("colors", item.colors)
            @Html.Hidden("manaCost", item.manaCost)
            @Html.Hidden("imageUrl", item.imageUrl)
            @Html.Hidden("rarity", item.rarity)
            <div class="form-group">
                <input type="image" src=@item.imageUrl id="magic"/>
            </div>
        </div>
    </form>
        }
    }

</div>
<a asp-action="Index" class="btn btn-dark">Back to HomePage</a>
