@model Magic_Capstone.Models.Rootobject


@{
    ViewData["Title"] = "FindColor";
}

<link rel="stylesheet" href="~/css/TaskCardStyle.css">

<h1>Find By Color</h1>


<div class="cardflex">

    @foreach (var item in Model.cards)
    {
        if (item.imageUrl != null)
        {
            <form asp-action="Create" asp-controller="Cards">


                <img class="img-responsive" src=@item.imageUrl id="magic" />

                <div class="cardInfo">
                    @Html.Hidden("name", item.name)
                    @Html.Hidden("type", item.type)
                    @Html.Hidden("text", item.text)
                    @Html.Hidden("colors", item.colors)
                    @Html.Hidden("manaCost", item.manaCost)
                    @Html.Hidden("imageUrl", item.imageUrl)
                    @Html.Hidden("rarity", item.rarity)
                    <div class="form-group">
                        <input type="submit" value="Save Card" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        }
    }
    <a asp-action="Index">Back to HomePage</a>
</div>