@model Magic_Capstone.Models.Deck

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.DeckName Details</h1>

<div>
    <h4>To delete a card from your deck just click on the card you wish to delete!</h4>
    <hr />
    <h2>@Model.DeckName</h2>
       @foreach(var item in Model.cardDecks)
       {
           <form asp-action="Delete" asp-controller="CardDecks">

          <button type="submit" name="CardDeckId" value="@item.CardDeckId"><img src="@item.CardData.imageUrl" /></button>
               </form> 
       }
    <p>@Model.Description</p>
</div>
<div>
   
    <a asp-action="Index">Back to List</a>
</div>
