@model IEnumerable<Magic_Capstone.Models.Deck>

@{
    ViewData["Title"] = "Index";
}
    <link rel="stylesheet" href="~/css/TaskCardStyle.css">
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@foreach (var item in Model)
{
    <div>
    <h2>@item.DeckName</h2>
  

    <p>@item.Description</p>
    <a asp-action="Details" asp-route-id="@item.DeckId">Deck Details</a>
    <a asp-action="Edit" asp-route-id="@item.DeckId">Edit Deck</a>
    <a asp-action="Delete" asp-route-id="@item.DeckId">Delete Deck</a>
        </div>
}
          